@{
    ViewBag.Title = "Home Page";
}





<div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
    <h3>SÜMEYYE ALTUNTAŞ</h3>
    <p>G151210258</p>
</div>

@*<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-5">

            <h4>G151210258</h4>
            <h1>SÜMEYYE ALTUNTAŞ</h1>

        </div>
    </div><! --/row -->
</div>*@ 